body{

    font-family: sans-serif;
    background-color: rgb(255, 249, 241);

}


.header-container-padre{

    margin-top: 50px;
    margin-left: 100px;
    margin-right: 20px;
    display: inline-flex;

}

nav{

    display: inline-flex;
    margin-top: 45px;
    

}


.logo{

    margin-top: 50px;

}


ul{

    margin-left: 450px;
    list-style: none;

}


li{

    display: inline-block;
    margin-right: 25px;
    color: #025157;

}


a{

    text-decoration: none;
    color: #025157;
    font-size: 14px;

}


.actions{

    margin-left: 300px;
    margin-top: 5px;

}


.actions a{

    color: #67b54b;

}




.boton1{

    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    background-color: #67b54b;
    text-decoration: none;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 40px;

}


